= form_for(@faculty, html: { role: "form" }) do |f|
  .init-form
    .init-form-header.text-center
      %h3 New Teacher
    =render_errors(@faculty)
    .row
      .col-md-4
        .form-group
          = f.label :name
          %br/
          = f.text_field :name, class: "form-control", autofocus: true
        .form-group
          = f.label :email
          %br/
          = f.email_field :email, class: "form-control"
        .form-group
          = f.label :address
          %br/
          = f.text_field :address, class: "form-control"
        .form-group
          = f.label :phone
          %br/
          = f.text_field :phone, class: "form-control"
      .col-md-4.col-md-offset-1
        .form-group
          = f.label :qualification
          %br/
          = f.text_field :qualification, class: "form-control"
        .form-group
          = f.label :experience
          %br/
          = f.text_field :experience, class: "form-control"
        .form-group
          = f.label :subject
          %br/
          = f.text_field :subject, class: "form-control"
        .form-group
          = f.label :picture
          %br/
          = f.file_field :picture, class: "form-control"
      .col-md-3
        .form-group
          = f.label :gender
          %br
          = f.radio_button :gender, 'Male'
          Male
          = f.radio_button :gender, 'Female'
          Female
    .row
      .col-md-4
        .form-group
          = f.submit "Submit", class: "btn btn-sm btn-success"
  /= link_to "Back", :back, class: "btn btn-sm btn-primary"
