.col-md-4
  = form_for(@teacher, url: teacher_registration_path, action: :patch, html: { role: "form" }) do |f|
    =render_errors(@teacher)
    .form-group
      = f.label :name
      = f.text_field :name, class: "form-control", placeholder: 'Full Name'
    .form-group
      = f.label :email
      = f.email_field :email, class: "form-control", placeholder: 'Email'
    .form-group
      = f.label :gender
      %br
      = f.radio_button :address, 'Male'
      Male
      = f.radio_button :address, 'Female'
      Female
    - if action_name == 'new'
      .form-group
        = f.label :password
        %br
        = f.password_field :password, class: "form-control", placeholder: 'Password'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: "form-control", placeholder: 'Password Confirmation'
    = f.submit :Submit, class: "btn btn-success", data: { disable_with: "Please wait..." }
    = link_to "Back", teachers_path, class: "btn btn-primary"