!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %title
      = yield(:title)
      | Miniland
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #whole-layout
      #header{style: "height: 115px; border-bottom-style: solid;background: #093349;"}
        = render 'layouts/header'
      #main-body{style: "font-family: 'latoregular'; line-height: 23px; letter-spacing: .3px; font-size: 16px;"}
        - flash.each do |message_type, message|
          %div{:class => "super-alert alert #{flash_class(message_type) unless message.blank?}"}
            %a.close{"aria-label" => "close", "data-dismiss" => "alert", href: "#", title: "close"} ×
            = message
        = yield
      #footer
        = render 'layouts/footer'
